/* Estilos Generales */
body {
    background-color:  lightgray;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
main {
    color: white;
    padding: 60px 0;
    text-align: center;
}
  /* REDES SOCIALES */
  .enlaces-sociales {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a varias filas */
    gap: 10px; /* Espaciado entre los botones */
  }
  
  .enlaces-sociales .hijo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.68, 0.85, 0.265, 1.85);
    border-radius: 5px;
    margin: 5px; /* Espaciado adicional entre botones */
    box-shadow: inset 1px 1px 2px #fff, 0 0 5px rgba(68, 68, 68, 0.2);
  }
  
  .enlaces-sociales .hijo:hover {
    background-color: white;
    transform: perspective(180px) rotateX(60deg) translateY(2px);
  }
  
  .enlaces-sociales .boton {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    transition: all 0.5s cubic-bezier(0.68, -0.85, 0.265, 1.55);
  }
  
  .enlaces-sociales .hijo:hover > .boton {
    transform: translate3d(0px, 20px, 30px) perspective(80px) rotateX(-60deg) translateY(2px) translateZ(10px);
  }
  
  #animacion {
    margin: 0;
    overflow: hidden;
  }
  
  #instructions {
    position: absolute;
    color: #666;
    bottom: 0;
    padding-bottom: 6px;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }