body{
    font-family: 'Exo 2', sans-serif;
}

header {
    padding: 10px;
    background: white;
    position: relative;
}

#logoNav{
    height: 60px;  /* TAMAÑO ICONO */
    width: 60px;
}

li{
    margin: 10px;
}

.nav-link {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 0.5rem;
}

.menu-icon {
    width: 14px;
    height: 14px;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 120%; /* Ubicación arriba de la imagen */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.nav-link:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Ajustes para móviles o pantallas pequeñas */
@media (max-width: 991px) {
    /* Estilo base del tooltip */
    .tooltip {
        visibility: visible; /* Hacer visible siempre */
        opacity: 1; /* Totalmente visible */
        position: absolute;
        top: 50%; /* Ubicación centrada verticalmente al lado del li */
        left: 100%; /* Coloca el tooltip a la derecha del li */
        transform: translateY(-50%); /* Ajuste para que esté centrado verticalmente */
        background-color: black;
        color: white;
        padding: 24px 16px; /* Aumentar el padding para que el texto no quede pegado a los bordes */
        border-radius: 4px;
        white-space: nowrap;
        font-size: 12px;
        z-index: 1000;
        transition: opacity 0.3s ease-in-out;
        display: inline-flex; /* Cambiar a flexbox */
        align-items: center; /* Centrado vertical */
        justify-content: center; /* Centrado horizontal */
        margin-left: 10px; /* Separación entre el icono y el tooltip */
    }

    /* Estilo base del li */
    .nav-item {
        position: relative; /* Para posicionar el tooltip respecto al li */
        padding: 10px;
        list-style: none;
    }
}

/* FOOTER */
.footer {
    padding: 20px;
    text-align: center;
    background: black;
    color: rgb(255, 255, 255);
    background-size: 200% 200%;
    animation: gradienteAnimado 2s infinite alternate;
    position: relative;
}

.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer h5 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
.footer p {
    margin: 5px 0;
}
.footer .bi {
    font-size: 18px;
    margin-right: 5px;
}

/* EXTRA */
.neon-text {
    font-size: 2em; /* Ajusta el tamaño del texto */
    font-family: Arial, sans-serif; /* Define la fuente */
    color: #ffffff; /* Color blanco para el texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    text-shadow: 
        0 0 5px #000000,    /* Resplandor pequeño */
        0 0 10px #000000,   /* Resplandor medio */
        0 0 15px #000000,   /* Resplandor grande */
        0 0 20px #000000,   /* Resplandor más grande */
        0 0 25px #000000, 
        0 0 30px #000000;  /* Resplandor extremo */
}

#neon {
    font-size: 16px; /* Ajusta el tamaño del texto */
    font-weight: 700;
    font-family: Arial, sans-serif; /* Define la fuente */
    color: #08004d; /* Verde oscuro para el texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    text-shadow: 
        0 0 5px #64dd64,    /* Resplandor pequeño */
        0 0 10px #64dd64,   /* Resplandor medio */
        0 0 15px #64dd64,   /* Resplandor grande */
        0 0 20px #64dd64,   /* Resplandor más grande */
        0 0 25px #64dd64, 
        0 0 30px #64dd64;  /* Resplandor extremo */
}